body {
    display: flex;
    overflow: hidden;
}

.game-container {
    width: 500px;
    height: 730px;
    position: absolute;
    left: 80px;
}

.border-left {
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: white;
    z-index: +2;
}

.border-right {
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: white;
    z-index: +2;
    left: 580px;
}

.border-top {
    width: 660px;
    height: 50px;
    position:  absolute;
    background-color: white;
    z-index: +2;
    top: -50px;
}

.sky {
    background-image: url('images/fb-game-background.png');
    width: 500px;
    height: 580px;
    position: absolute;
}

.ground {
    background-image: url('images/bottom-background.png');
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
    z-index: +1;
}

.bird {
    background-image: url('images/flappy-bird.png');
    position: absolute;
    width: 60px;
    height: 45px;
    left: 220px;
    bottom: 100px;
}

.obstacleAbove {
    background-image: url('images/flappybird-pipe.png');
    width: 60px;
    height: 300px;
    position: absolute;
    transform: rotate(180deg)
}

.obstacleBelow {
    background-image: url('images/flappybird-pipe.png');
    width: 60px;
    height: 300px;
    position: absolute;
}

@keyframes slideright {
    from {
        background-position: 10000%;
    }
    to {
        background-position: 0%;
    }
  }
  
@-webkit-keyframes slideright {
    from {
        background-position: 10000%;
    }
    to {
        background-position: 0%;
    }
}

.ground-container {
    height: 150px;
    width: 580px;
    left: 80px;
    position:  absolute;
}
  
.ground-moving {
    position: absolute;
    top: 580px;
    height: 150px;
    background-image: url('images/bottom-background.png');
    background-repeat: repeat-x;
    animation: slideright 100s infinite linear;
    -webkit-animation: slideright 100s infinite linear;
    width: 100%;
    z-index: +1;
}

@font-face {
    font-family: flappy-bird-font;
    src: url(fonts/flappy-bird-font.ttf);
}

@font-face {
    font-family: BotsmaticOutline;
    src: url(fonts/BotsmaticOutline-anZg.ttf);
}

#score {
    position: absolute;
    left: 250px;
    top: 20px;
    font-family: flappy-bird-font;
    font-size: 30px;
    z-index: +2;
}

.text {
    position: absolute;
    left: 110px;
    top: 250px;
    font-family: BotsmaticOutline;
    font-size: 50px;
    z-index: +2;
}